.joinForm {
  width: 100%;
  max-width: 400px; /* Ogranicz szerokość samego formularza */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.title {
  left: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2rem;
  font-family: DM Sans, sans-serif;
  margin-block-start: 0;
}

.formGroup {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  transform: none;
  color: black;
  padding: 0 0 5px 0;
  margin-bottom: 2rem;
  font-family: DM Sans, sans-serif;
}

.formGroup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -20px;
  height: 1px;
  background-color: #9c9797;
  max-width: 350px;
}

.formGroup input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px 0 7px 30px;
  font-size: 16px;
}

.formGroup label {
  margin-bottom: 0;
  height: 25px;
}

.formGroup input:focus {
  outline: none;
  border: none;
}

.formGroup input::placeholder {
  font-family: DM Sans, sans-serif;
}

.formGroup input:focus::placeholder {
  color: black;
}

.formGroup:focus-within::after {
  background-color: black;
}

.joinButton {
  position: relative;
  display: flex;
  width: 100%;
  color: #ffffff;
  border-radius: 15px;
  background-color: #cc0404;
  opacity: 1;
  font-family: DM Sans, sans-serif;
  font-weight: 500; /* Półgrubość czcionki */
  cursor: pointer; /* Zmień kursor na wskaźnik */
  align-items: center; /* Wyśrodkuj tekst w pionie */
  border: none; /* Usuń obramowanie */
  padding: 12px 0; /* BRAK - nie ma zdefiniowanego paddingu */
  justify-content: center; /* BRAK - tekst nie jest wyśrodkowany poziomo */
  font-size: 16px; /* BRAK - brak określonego rozmiaru czcionki */
  margin-top: 1rem;
}

.joinButton:hover {
  opacity: 0.8;
}
