.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 140px - 4rem);
}

.formTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2rem;
  font-family:
    DM Sans,
    sans-serif;
  margin-block-start: 0;
}

.signupForm {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.formGroup {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  transform: none;
  color: black;
  padding: 0 0 5px 0;
  margin-bottom: 2rem;
  font-family:
    DM Sans,
    sans-serif;
}

.formGroup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -20px;
  height: 1px;
  background-color: #9c9797;
  max-width: 350px;
}

.formGroup input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px 0 7px 30px;
  font-size: 16px;
}

.formGroup label {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 25px;
}

.formGroup input:focus {
  outline: none;
  border: none;
}

.formGroup input::placeholder {
  font-family:
    DM Sans,
    sans-serif;
}

.formGroup input:focus::placeholder {
  color: black;
}

.formGroup:focus-within::after {
  background-color: black;
}

.cleanFormGroup {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  transform: none;
  color: black;
  padding: 0 0 5px 0;
  margin-bottom: 2rem;
}

.termsWrapper {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.agreeTerm {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-right: 8px;
  margin-top: 3px;
  position: relative;
  flex-shrink: 0;
}

.agreeTerm:checked {
  background-color: #cc0404;
  border-color: #cc0404;
}

.agreeTerm:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.termsText {
  font-size: 14px;
  font-family:
    DM Sans,
    sans-serif;
  font-weight: 400;
  line-height: 1.4;
  flex: 1;
}

.termsLink {
  color: #cc0404;
  text-decoration: none;
}

.termsLink:hover {
  text-decoration: underline;
}

.registerButton {
  position: relative;
  display: flex;
  width: 100%;
  color: #ffffff;
  border-radius: 15px;
  background-color: #cc0404;
  opacity: 1;
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  font-family:
    DM Sans,
    sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s ease;
}

.registerButton:hover:not(:disabled) {
  opacity: 0.8;
}

.registerButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.signInLink {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family:
    DM Sans,
    sans-serif;
  margin-top: 2rem;
  font-weight: 400;
}

@media screen and (max-width: 380px) {
  .cleanFormGroup {
    flex-direction: column;
    align-items: flex-start;
  }
}

.formGroup input:-webkit-autofill,
.formGroup input:-webkit-autofill:hover,
.formGroup input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000000;
}
