.searchForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px; /* Or your preferred max width */
}

.searchInput {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.searchButton {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background-color: #0056b3;
}
