.profileViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-height: calc(100vh - 140px);
  padding: 1.5rem;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  width: 100%;
}

.profileViewContainer h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}
