.mainContainer {
  display: flex; /* Ustawia układ poziomy */
  flex-direction: row; /* Domyślnie, ale warto to określić */
  justify-content: space-between; /* Rozdziela kolumny */
  align-items: center; /* Wyśrodkowuje elementy w pionie */
  flex: 1;
}

.leftColumn,
.rightColumn {
  flex: 1; /* Obie kolumny zajmują po 50% szerokości */
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
}

.rightColumn img {
  max-width: 80%; /* Obrazek zajmuje maksymalnie 80% szerokości kolumny */
  height: auto; /* Zachowanie proporcji */
}

@media screen and (max-width: 768px) {
  .rightColumn {
    display: none; /* Ukryj prawą kolumnę na mniejszych ekranach */
  }

  .leftColumn {
    width: 100%; /* Lewa kolumna zajmuje całą szerokość */
    padding: 1rem 1rem; /* Dodaj trochę więcej paddingu po bokach */
    justify-items: content; /* Wyśrodkowanie w poziomie */
    align-items: flex-start; /* Wyśrodkowanie w pionie */
  }

  .mainContainer {
    flex-direction: column; /* Na wszelki wypadek, gdyby prawa kolumna była flex-ordered */
    padding-bottom: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    min-height: 0; /* Usuwamy min-height */
    height: auto; /* Wysokość bazuje na zawartości */
  }
}
