.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightColumn img {
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .rightColumn {
    display: none;
  }

  .leftColumn {
    width: 100%;
    padding: 1rem;
    justify-items: center;
    align-items: flex-start;
  }

  .mainContainer {
    flex-direction: column;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    min-height: 0;
    height: auto;
  }
}
